body {
    background-color: rgb(206, 231, 254);
    color: #000000;
  }
.jumbotron {
    background-image: url("bacteria.jpeg");
    background-size: 100% 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }